<div>
    <div class="hero min-h-screen bg-cover bg-center" style="background-image: url('<%= asset_path('jordan-wozniak-xP_AGmeEa6s-unsplash.jpg') %>')">    
        <div class="flex justify-center">
            <div class="text-center">
                <h1 class="text-3xl">毎朝指定した時間帯に問題が届く</h1>
                <p>LINEとの連携でLINEに問題が届きます。</p>
                <p>このアプリを使用することにより、二度寝の防止を助け、学習の手助けにもなります。</p>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center bg-gray-100">
        <div class="bg-white px-12 py-12 rounded-3xl border-2">
            
        </div>
    </div>
</div>
