<h1>朝の二度寝を防止を助け、暗記を手伝ってくれる</h1>
<p>このアプリは、勉強を頑張っている人へ朝の時間を有効に活用し、同時に暗記を助けるアプリです。</p>

利用方法

<button class="btn">Button</button>
<button class="btn btn-primary">Button</button>
<button class="btn btn-secondary">Button</button>
<button class="btn btn-accent">Button</button>
<button class="btn btn-ghost">Button</button>
<button class="btn btn-link">Button</button>

<button class="btn btn-lg">Large</button>
<button class="btn">Normal</button>
<button class="btn btn-sm">Small</button>
<button class="btn btn-xs">Tiny</button>

<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>