<div class="flex flex-col pb-36 bg-gray-100">
  <div class="flex-grow mt-28">
      <%= month_calendar(events: @got_ups) do |date, got_ups| %>
        <div class="border rounded h-20 w-28">
          <div class="font-bold w-full text-left">
            <%= date.day %>
          </div>
          <% got_ups.each do |got_up| %>
            <div class="font-thin">
              <% datetime = got_up.start_time %>
              <% time = datetime.strftime("%H:%M") %>
              <div class="flex items-center">
                <i class="fa-solid fa-thumbs-up mr-1"></i>
                <p class="font-bold"><%= "#{time}" %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>