<div class="h-screen w-screen flex justify-center items-center">
  <div class="text-center">
    <div>
      <%= month_calendar evens: @events do |date, events| %>
        <%= date.day %>
        <% events.each do |event| %>
        <div>
          <%= event.name %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
