<% if object.errors.any? %>
  <div id="error_messages" class="text-red-500">
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>