<header class="bg-base-100 flex fixed top-0 w-full border-b-4">
  <div class="navbar">
    <%= link_to 'sample', root_path , class: 'btn btn-ghost normal-case text-3xl' %>
  </div>
  <div class="navbar justify-end">
    <%= link_to '新規登録', new_user_path , class: 'btn btn-ghost normal-case text-base' %>
    <%= link_to 'ログイン', login_path , class: 'btn btn-ghost normal-case text-base' %>
  </div>
</header>