<header>
  <div class="fixed top-0 w-full border-b-4 bg-base-100 flex">
    <div class="navbar">
      <%= link_to 'にどねんね', root_path , class: 'btn btn-ghost normal-case text-3xl' %>
    </div>
    <span class="nav_toggle">
      <i></i>
      <i></i>
      <i></i>
    </span>
    <div class="nav navbar justify-end">
      <%= link_to 'マイページ', schedules_index_path, class: 'btn btn-ghost normal-case text-base' %>
      <%= link_to '通知設定', new_notification_setting_path, class: 'btn btn-ghost normal-case text-base' %>
      <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }, class: 'btn btn-ghost normal-case text-base' %>
    </div>
  </div>
</header>