<div class="h-screen flex justify-center items-center bg-gray-100">
  <div class="w-4/5 sm:w-3/5 lg:w-2/5 bg-white px-5 py-8 rounded-3xl border-2">
    <div class="text-center">
      <h2 class="text-3xl font-bold">LINE通知登録</h2>
    </div> 
    <p class="pt-3 pb-3">LINEにて通知を行う場合には、下記よりLINEにログインをお願いします。</p>
    <%= link_to image_tag("line_login_base.png"), line_login_api_login_path %>
  </div>
</div>