<div class="h-screen w-screen flex justify-center items-center">
  <div class="w-1.5/3 h-2/3 shadow-lg rounded-3xl p-8 bg-cyan-200 border border-black">
    <%= link_to "LINEでログイン", line_login_api_login_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
  </div>
</div>