<% set_meta_tags title: t('.title') %>
<div class="h-screen w-screen flex justify-center items-center bg-gray-100">
  <div class="bg-white px-8 py-12 mt-16 rounded-3xl border-2">
    <P>下記から「にどねんね」公式ラインの友達追加をお願いします</p>
    <%# LINE Official Account Managerより転機 %>
    <a href="https://lin.ee/JtDHXyj"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
  </div>
</div>