<% set_meta_tags title: t('.title') %>
<div class="h-screen w-screen flex justify-center items-center bg-gray-100">
  <div class="bg-white px-8 py-12 mt-16 rounded-3xl border-2">
    <P>下記から「にどねんね」公式ラインとの連携をお願いします</p>
    <%= link_to 'LINEとの連携', line_users_line_linkage_path, class: 'underline' %>
  </div>
</div>